<section class="about-hero">
  <div class="container">
    <h1 class="centered title1 title1--dark about-hero__title">О проекте</h1>

    <div class="about-hero__container">
      <div class="about-hero__phone">
        <img src="./img/iphone.webp" alt="" />
      </div>

      <div class="about-hero__right">
        <div class="about-hero__message">
          <span>
            Dewin&nbsp;&mdash; это Telegram-бот, созданный для удобного
            управления конференциями с&nbsp;возможностью модерирования
            и&nbsp;удобного информирования пользователей!</span
          >
        </div>
        <div class="about-hero__message">
          <span>
            Он&nbsp;помогает модераторам и&nbsp;участникам, предоставляя
            полезные функции и&nbsp;оперативное информирование.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
