<section class="benefits">
  <div class="container">
    <div class="benefits__header">
      <h2 class="title2 title2--dark benefits__title">Преимущества</h2>
      <p class="text benefits__subtitle">
        Какие у&nbsp;него плюсы и что он умеет?
      </p>
    </div>

    <div class="benefits__content">
      <div class="benefits__robot robot">
        <div class="robot__img">
          <img src="./img/robot.webp" alt="" />
        </div>
      </div>
      <ul class="list-reset benefits__items">
        <li class="benefits__item ben">
          <div class="ben__capture capture">Удобный в использовании</div>
          <p class="desc desc--dark ben__desc">
            Бот способен распознавать команды на русском и английском языке и
            даже если вы ввели их в неправильной раскладке клавиатуры.
          </p>
        </li>
        <li class="benefits__item ben">
          <div class="ben__capture capture">Модерация группы</div>
          <p class="desc desc--dark ben__desc">
            У&nbsp;бота есть всё, чтобы комфортно следить за порядком в группе.
          </p>
        </li>
        <li class="benefits__item ben">
          <div class="ben__capture capture">Полный доступ к функционалу</div>
          <p class="desc desc--dark ben__desc">
            Для того чтобы полностью пользоваться ботом, вам не нужно покупать
            подписок или платного доступа.
          </p>
        </li>
        <li class="benefits__item ben">
          <div class="ben__capture capture">Быстрая работа бота</div>
          <p class="desc desc--dark ben__desc">
            За&nbsp;счет хорошего хостинга и постоянного улучшения бота, он
            имеет быстрый отклик на команды!
          </p>
        </li>
      </ul>
      <a href="#" class="btn btn--blue benefits__btn">
        /открыть информацию о&nbsp;боте
      </a>
    </div>
  </div>
</section>
