<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <a href="./" class="footer__logo">
          <img src="./img/logo-blue.webp" alt="" />
        </a>
        <small class="footer__copy">
          &copy;&nbsp;DewinConferenceBot 2024&nbsp;&mdash; 2025<br />
          Все&nbsp;права защищены.
        </small>
      </div>
      <div class="footer__right">
        <div class="footer__col">
          <p class="footer__capture">Навигация</p>
          <nav class="footer__nav">
            <ul>
              <li>
                <a href="#">Главная</a>
              </li>
              <li>
                <a href="#">Новости</a>
              </li>
              <li>
                <a href="#">Магазин</a>
              </li>
              <li>
                <a href="#">Список команд</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__col">
          <p class="footer__capture">Проект</p>
          <nav class="footer__nav">
            <ul>
              <li>
                <a href="#">О проекте</a>
              </li>
              <li>
                <a href="#"> Telegram канал</a>
              </li>
              <li>
                <a href="#">VK группа</a>
              </li>
              <li>
                <a href="#">Статьи</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__col">
          <p class="footer__capture">Обновления</p>
          <nav class="footer__nav">
            <ul>
              <li>
                <a href="#">Обновление 1.0</a>
              </li>
              <li>
                <a href="#">Обновление 1.1</a>
              </li>
              <li>
                <a href="#">Обновление 1.2</a>
              </li>
              <li>
                <a href="#">Обновление 1.3</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__col">
          <p class="footer__capture">Документация</p>
          <nav class="footer__nav">
            <ul>
              <li>
                <a href="#">FAQ</a>
              </li>
              <li>
                <a href="#">Польз. соглашение</a>
              </li>
              <li>
                <a href="#">Полит. конфеденц.</a>
              </li>
              <li>
                <a href="#">Полит. cookies</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <small>
        Продолжая использование нашего проекта (сайта или/и бота),
        вы&nbsp;подтверждаете, что ознакомлены и&nbsp;соглашаетесь с&nbsp;нашей
        <a href="#">Политикой конфиденциальности</a> и&nbsp;<a href="#"
          >Политикой использования cookies</a
        >. Мы&nbsp;используем cookies для улучшения функциональности сайта,
        анализа его использования и&nbsp;персонализации контента. Вы&nbsp;можете
        настроить параметры cookies в&nbsp;вашем браузере, но&nbsp;учтите, что
        это может повлиять на&nbsp;работу некоторых функций сайта.
      </small>
    </div>
  </div>
</footer>
