<section class="hero">
  <div class="container">
    <div class="hero__header">
      <h1 class="hero__title title1">
        Dewin » Telegram конференц-бот для ваших групп!
      </h1>
      <p class="desc hero__desc">
        Именно он&nbsp;прямо сейчас помогает многим людям сделать процесс
        управлением конференциями еще более быстрым, удобным и&nbsp;эффективным!
      </p>
    </div>
    <div class="hero__buttons">
      <a href="#" class="btn btn-reset btn--white">/пригласить в группу</a>
      <a href="#" class="btn btn-reset">/о&nbsp;проекте</a>
    </div>
    <div class="hero__content">
      <div class="hero__img">
        <img src="./img/iphone.webp" alt="" />
      </div>
      <div class="hero__bottom centered">
        <p class="hero__subtitle">Dewin » используют</p>
        <p class="title2 hero__text">
          <span>104 пользователя</span>
          <span>в 18 группах</span>
        </p>
      </div>
    </div>
  </div>
</section>
