<section class="history">
  <div class="container-sec">
    <h2 class="title1 title1--dark history__title centered about-hero__title">
      История
    </h2>
    <div class="history__items">
      <div class="history__item history-item">
        <span class="history-item__fig">01</span>
        <div class="history-item__wrap">
          <p class="history-item__title capture1">8 октября 2024</p>
          <p class="history-item__desc text text--white">Начало разработки</p>
        </div>
      </div>
      <div class="history__item history-item">
        <span class="history-item__fig">02</span>
        <div class="history-item__wrap">
          <p class="history-item__title capture1">14 октября 2024</p>
          <p class="history-item__desc text text--white">
            Запуск сайта с информацией и списком команд
          </p>
        </div>
      </div>
      <div class="history__item history-item">
        <span class="history-item__fig">03</span>
        <div class="history-item__wrap">
          <p class="history-item__title capture1">7 ноября 2024</p>
          <p class="history-item__desc text text--white">
            Выход версии 1.0 и завершение бета-тестирования
          </p>
        </div>
      </div>
      <div class="history__item history-item">
        <span class="history-item__fig">04</span>
        <div class="history-item__wrap">
          <p class="history-item__title capture1">18 ноября 2024</p>
          <p class="history-item__desc text text--white">
            Обновление до версии 1.1
          </p>
        </div>
      </div>
      <div class="history__item history-item">
        <span class="history-item__fig">05</span>
        <div class="history-item__wrap">
          <p class="history-item__title capture1">19 февраля 2025</p>
          <p class="history-item__desc text text--white">Выход версии 1.2</p>
        </div>
      </div>
    </div>
    <div class="history__bottom">
      <a href="#" class="btn btn-reset btn--blue history__btn"
        >/полная история развития</a
      >
    </div>
  </div>
</section>
